/* login */

/* navbar */
.navbar {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
}

/* header landing page */
.wp-back-img {
  background-image: url("../images/background.png");
}

.wp-header {
  max-width: 80%;
}

.wp-header-img img {
  width: 60%;
}

.row-header {
  height: 100vh;
}

/* kelas */
.row-kelas {
  height: 100vh;
}

.wp-img img {
  height: 500px;
  width: 700px;
}

/*list kelas*/
/* .card {
  width: 25%;
}

.list-kelas {
  display: flex;
  gap: 10px;
} */

/* list karya*/
.card-karya {
  width: 25%;
}

.card-karya img {
  width: 100%;
  height: 60%;
}
.card-body-karya {
  max-width: 90%;
  padding: 5px;
  margin-top: 10px;
}

/* berita*/
/* .wp-text-berita {
  margin-left: 10%;
  margin-top: 50px;
}

.card-berita {
  width: 40%;
}

.card-berita img {
  width: 50%;
} */

/* tentang kami */
.wrapper-tentang {
  margin: 5% auto;
  width: 60%;
  padding: 10px;
  font-size: 16pt;
}
